@model IEnumerable<TripGMap.Models.TripModel.Trip>

@{
    ViewBag.Title = "MyTrips";
}

<h2>Manage your Trips here!</h2>

<p>
    @Html.ActionLink("Create New Trip!", "Create")
</p>

@if (!Model.Any())
{
    <tr><td>There are no Trips! Go ahead and create one!</td></tr>
}
else
{
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.TripName)
            </th>
            <th class="col-sm-1">
                @Html.Label("Manage Your Trip")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TripName)
                </td>
                <td>
                    @Html.ActionLink("Photos", "Index", "Photo", new { item.TripId }, null) |
                </td>
            </tr>
        }

    </table>
}