@model GoogleMapPhotos.ModelView.TripPhoto

@{
    ViewBag.Title = "Set Location";
}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markermanager/src/markermanager.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.fancybox.js"></script>
<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
<script src="/Scripts/locationpicker.jquery.js"></script>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
     @Html.Label("Where did you take this photo? :", new { htmlAttributes = new { @class = "form-control"} })
    </div>
        <div id="us2" style="width: 400px; height: 300px;"></div>

    @Html.HiddenFor(model => model.PhotoId, new { htmlAttributes = new { @class = "form-control" } })
    <input type="hidden" value="<%= Html.AttributeEncode(model.PhotoId) %>" id="PhotoId" name="PhotoId" />
    @Html.HiddenFor(model => model.TripId, new { htmlAttributes = new { @class = "form-control" } })
    <input type="hidden" value="<%= Html.AttributeEncode(model.TripId) %>" id="TripId" name="TripId" />

    @Html.LabelFor(model => model.Latitude)
    @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @id = "us2-lat", @class = "form-control" } })
    @Html.LabelFor(model => model.Longtitude)
    @Html.EditorFor(model => model.Longtitude, new { htmlAttributes = new { @id = "us2-lon", @class = "form-control" } })
    @Html.LabelFor(model => model.Location)
    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @id = "us2-address", @class = "form-control", @readonly = "readonly" } })

    <script>
    $('#us2').locationpicker({
        location: { latitude: '@Model.Latitude', longitude: '@Model.Longtitude' },
        radius: 0,
        zoom: 3,
        inputBinding: {
            latitudeInput: $('#us2-lat'),
            longitudeInput: $('#us2-lon'),
            radiusInput: $('#us2-radius'),
            locationNameInput: $('#us2-address')
        }
    });

    </script>
    <div>
        <input type="submit" class="btn-group-justified text-primary" value="Set Location"/>
    </div>
      
}